/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  appearance: none;
  border: 0;
  padding: 0;
  background: none;
}




html {
  font-size: 16px;
}

body {
  margin: 0;
}

/* Fonts */
@font-face {
  font-family: 'General Sans';
  src: url('/fonts/GeneralSans-Variable.woff2') format('woff2'),
       url('/fonts/GeneralSans-Variable.woff') format('woff');
       font-weight: 600 700;
       font-display: swap;
       font-style: normal;
}


.bold-110 {
  font: 6.5rem "General Sans";
  font-weight: 700;
  letter-spacing: -3px;
}

.bold-56 {
  font: 3.5rem "General Sans";
  font-weight: 700;
  letter-spacing: -2px;
}

.bold-24 {
  font: 1.5rem "General Sans";
  font-weight: 700;
  letter-spacing: -0.6px;
}

.bold-18 {
  font: 1rem "General Sans";
  font-weight: 700;
  letter-spacing: -0.4px;
}

.semi-bold-32 {
  font: 2rem "General Sans";
  font-weight: 600;
  letter-spacing: -0.5px;
}

.semi-bold-24 {
  font: 1.5rem "General Sans";
  font-weight: 600;
  letter-spacing: -0.5px;
}

.semi-bold-20 {
  font: 1.2rem "General Sans";
  font-weight: 600;
  letter-spacing: -0.3px;
}

.semi-bold-16 {
  font: 1rem "General Sans";
  font-weight: 600;
  letter-spacing: -0.4px;
  line-height: 140%;
}

.semi-bold-14 {
  font: 0.9rem "General Sans";
  font-weight: 600;
  letter-spacing: -0.4px;
  line-height: 120%;
}

.body-text-12 {
  font: 0.75rem "General Sans";
  font-weight: 200;
}


@media screen and (max-width: 460px) {
  html {
    font-size: 14px;
  }

  .bold-56 {
    font-size: 2.5rem;
  }

  .semi-bold-24 {
    font-size: 1.4rem;
  }
}


/* Colors */
:root {
  --black: #181818;
  --dark-grey: #555555;
  --light-grey: #d2d2d2;
  --white: #ffffff;
}


/* Buttons */
.button--small {
  background: #000;
  padding: 8px 24px;
  color: #fff;
  border-radius: 4px;
}

.button--large {
  background: #000;
  padding: 12px 24px;
  color: #fff;
  border-radius: 4px;
}

.button--large[disabled], .button--large[disabled] {
  opacity: 0.4;
  cursor: default;
}

.button--small, .button--large {
  transition: 0.3s;
  cursor: pointer;
}

.button--small:hover, .button--large:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.button--secondary {
  font-size: 1rem;
  background: #f7f7f7;
  border: 1px solid #f0f0f0;
  color: #4e4e4e;
}

.back-button {
  display: flex;
  margin-bottom: 4px;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.back-button:hover {
  opacity: 0.9;
  text-decoration: underline;
}

.back-button:hover svg {
  transform: translateX(-4px);
}

.back-button svg {
  height: 16px;
  margin-right: 8px;
  transition: 0.3s;
}


/* Responsive */
@media screen and (max-width: 600px) {
  .desktop-only {
    display: none !important;
  }
}

@media screen and (min-width: 600px) {
  .mobile-only {
    display: none !important;
  }
}

/* Body */
body.--prevent-scrolling {
  overflow: hidden;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-30px);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes navigationSlideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Navigation */
.content-wrapper {
  max-width: 1600px;
  padding: 0 5vW;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.navigation-bar {
  background: #fff;
  padding: 20px 0;
}

.navigation-bar .content-wrapper {
  width: 100%;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dark-theme .navigation-bar {
  background: #1b1b1b;
}

.navigation-links {
  display: flex;
  gap: 52px;
  font: 0.9rem 'General Sans';
  font-weight: 600 !important;
  color: var(--dark-grey) !important;
  padding: 16px 0;
  height: 52px;
  box-sizing: border-box;
}

.navigation-links a {
  text-decoration: none;
  transition: 0.3s;
}

.navigation-links a:hover {
  padding: 0 8px;
  color: var(--light-grey);
}

.navigation-links a.--is-active {
  text-decoration: underline;
  color: var(--white);
}

.rfc-logo {
  text-align: center;
}

.dark-theme .rfc-logo {
  color: var(--light-grey);
}

.navigation-actions {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  position: relative;
}

.navigation-actions svg, .burger-icon svg, .fullscreen-navigation .header svg { 
  height: 20px;
  color: var(--black);
  transition: 0.3s;
  cursor: pointer;
}

.dark-theme .navigation-actions svg {
  color: #aeaeae !important;
}

.navigation-actions svg:hover, .burger-icon svg:hover, .fullscreen-navigation .header svg:hover { 
  transform: scale(0.9);
  opacity: 0.8;
}

.navigation-actions svg:active { 
  transform: scale(0.85);
  opacity: 0.9;
}

.burger-icon {
  background: none;
}

.fullscreen-navigation {
  position: fixed;
  top: 0;
  width: 100vW;
  left: 0;
  background: #2B2B2B;
  height: 100%;
  z-index: 10;
  padding: 46px 25px;
  overflow: hidden;
  animation: navigationSlideIn 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.fullscreen-navigation .header {
  display: flex;
  justify-content: flex-end;
}

.fullscreen-navigation .header button {
  background: none;
  margin: 0;
  padding: 0;
}

.fullscreen-navigation .header button svg {
  color: var(--light-grey);
}

.fullscreen-navigation .navigation-links a:nth-child(6) {
  margin-top: 42px;
}

@media screen and (max-width: 460px) {
  .navigation-bar {
    gap: 16px;
  }

  .burger-icon {
    order: 3;
  }

  .navigation-actions {
    margin-left: auto;
  }

  .navigation-links {
    gap: 20px;
    padding: 0;
    flex-direction: column;
    font-size: 1.5rem;
    box-shadow: none;
    height: unset;
  }

  .navigation-links a, .fullscreen-navigation .header button {
    animation: fadeIn 0.3s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }


  .navigation-links a:nth-child(1) {
    animation-delay: 0.20s;
  }

  .navigation-links a:nth-child(2) {
    animation-delay: 0.3s;
  }

  .navigation-links a:nth-child(3) {
    animation-delay: 0.4s;
  }

  .navigation-links a:nth-child(4) {
    animation-delay: 0.5s;
  }

  .navigation-links a:nth-child(5) {
    animation-delay: 0.6s;
  }

  .navigation-links a:nth-child(6) {
    animation-delay: 0.7s;
  }

  .navigation-links a:nth-child(7) {
    animation-delay: 0.8s;
  }
}

/* Badges */
.badge {
  padding: 10px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  margin: 12px 8px 0 0;
  cursor: default;
  pointer-events: none;
  height: 40px;
}

.badge--is-sold-out {
  /* background: red; */
  background: rgb(236, 80, 57);
}

.badge--is-coming-soon {
  background: #00000038;
}


/* Product */
.product-hero {
  display: grid;
  grid-template-columns: 1fr 2fr 0fr;
  gap: 120px;
  align-items: center;
  padding: 100px;
  position: relative;
  background-color: var(--product-primary-color-faded);
}

@media and (max-width: 1400px) {
  .product-hero {
    grid-template-columns: 1fr 1fr;
  }
}

.product-hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  background: linear-gradient(180deg, var(--product-primary-color), transparent);
}

.product-hero:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  background: linear-gradient(0deg, var(--product-primary-color), transparent);
}

.product-hero .product-preview {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.product-hero .image-container {
  object-fit: fill;
  max-width: 600px;
  position: relative;
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.10) inset, 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.30);
}

.product-hero .product-details {
  width: 400px;
}

.product-hero .image-container img {
  width: 100%;
  height: 100%;
}

.product-hero .button--large {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 400px;
}

.product-hero .button--large svg {
  height: 14px;
  margin-top: 2px;
}

.product-hero .badge--is-sold-out {
  width: 150px;
}

.product-hero .product-artist {
  color: var(--dark-grey);
  margin-top: -8px;
}

.product-hero .product-description {
  color: var(--dark-grey);
  margin-top: 16px;
  max-width: 450px;
  margin-bottom: 18px;
}

.product-hero .product-messages {
  color: var(--dark-grey);
  margin-top: 16px;
}

.product-message {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 6px;
}

.product-message svg {
  height: 16px;
  display: inline-block;
}

.product-preview .customisable-frame {
  position: absolute;
  border: 12px solid #000;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.customisable-frame.--is-black {
  border-color: #000 !important;
}

.customisable-frame.--is-aluminium {
  border-color: rgb(180,180,180) !important;
}

.customisable-frame.--is-oak {
  border-color: rgb(190,160,135) !important;
}

.product-preview .customisable-mount {
  position: absolute;
  border: 48px solid #fff;
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.customisable-mount.--is-black {
  border-color: #000 !important;
}

.customisable-mount.--is-white {
  border-color: #fff !important;
}

.customisable-frame.--is-none, .customisable-mount.--is-none {
  opacity: 0;
}

.customisation-form {
  margin-top: 32px;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px inset, rgb(50 50 93 / 4%) 0px 50px 100px -20px, rgb(0 0 0 / 10%) 0px 30px 60px -30px;
  height: 390px;
}

.customisation-input {
  opacity: 0;
  transition: opacity .35s ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #f0f0f0;
  flex-direction: column;
  gap: 8px;
}

.customisation-input:first-child {
  padding-top: 0;
}

.customisation-input.--is-expanded {
  opacity: 1;
}

.radio-group {
  display: flex;
  gap: 12px;
}

.radio-item {
  border-radius: 8px;
  border: 1px solid #C6C6C6;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.3s;
}

.radio-item:hover {
  background: var(--light-grey);
}

.radio-item.--is-selected {
  background: var(--black);
  color: var(--white);
}

.customisation-form .price-container {
  padding: 20px 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.customisation-form .price-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customisation-form .button--large {
  width: 100%;
  padding: 12px 24px;
}

.customisation-form p.error {
  margin-top: 24px;
  color: #f23d34;
}

@media screen and (max-width: 460px) {
  .product-hero {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    gap: 16px;
    margin-top: 24px;
    align-items: unset;
    background: unset;
  }

  .product-hero:before, .product-hero:after {
    content: unset;
  }

  .product-hero .product-details {
    width: unset !important;
  }

  .product-preview {
    background: var(--product-primary-color);
    width: 100%;
    padding: 30px;
  }

  .product-preview .image-container {
    width: 50vW;
  }

  .product-preview button {
    display: none;
  }

  .product-hero .product-artist {
    margin-top: -4px;
  }

  .product-hero .product-description {
    margin-top: 12px;
  }

  .product-hero .button--large {
    margin-top: 16px;
    width: 100%;
  }
  
  .product-message svg {
    height: 12px;
  }
}


/* Sticky product header*/
.sticky-product-header {
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
  position: absolute;
  width: 90%;
  max-width: calc(1600px - 10vW);
  z-index: 5;
}

.sticky-product-header .content-wrapper {
  display: flex;
  justify-content: center;
  color: var(--dark-grey);
  align-items: center;
  margin-top: 0;
  padding: 16px 0;
}

.sticky-product-header .product-title {
  transition: 0.3s;
}

.sticky-product-header .product-title svg {
  height: 20px;
  display: none;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 12px;
}

.sticky-product-header .product-title svg:hover {
  opacity: 0.8;
}

.sticky-product-header .sub-navigation-links {
  display: flex;
  gap: 72px;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  user-select: none;
}

.sticky-product-header.--with-tighter-spacing .sub-navigation-links {
  justify-content: space-around;
}

.sticky-product-header .sub-navigation-links a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

/* Sticky product header --> Stuck */
.sticky-product-header.--is-stuck {
  position: fixed;
  border: none;
  background: #f4f4f4bd;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vW !important;
  backdrop-filter: blur(20px);
  animation: animateStuckHeader 0.3s;
}

.sticky-product-header.--is-stuck .content-wrapper {
  padding: 16px 5vW;
  justify-content: space-between;
  gap: 0;
}

.sticky-product-header.--is-stuck .sub-navigation-links {
  width: unset;
  justify-content: unset;
}

.sticky-product-header:not(.--is-stuck) button, .sticky-product-header:not(.--is-stuck) .product-title {
  display: none;
}

 /* Sticky product header --> Expanded menu */
.sticky-product-header.--with-expanded-menu .product-title svg {
  transform: rotate(180deg);
  transform-origin: 50% 45%;
  transition: 0.3s;
}

.sticky-product-header.--with-expanded-menu .content-wrapper {
  flex-wrap: wrap;
  padding-bottom: 8px;
}

.sticky-product-header.--with-expanded-menu .sub-navigation-links {
  animation: animateStickyMobileMenu 0.3s;
  display: flex !important;
  order: 3;
  gap: 42px;
  white-space: nowrap;
  padding: 8px 0;
  margin: 0px 0 0 0;
  width: 100%;
  overflow: hidden !important;
}

/* Sticky product header --> Small desktop & mobile */
@media all and (max-width: 1150px) {
  .sticky-product-header .product-title svg {
    display: inline-block !important;
  }

  .sticky-product-header.--is-stuck .sub-navigation-links {
    display: none;
  }

  .sticky-product-header.--with-expanded-menu .product-title {
    width: 60%; /* force navigation items onto new line */
  }

  .sticky-product-header .sub-navigation-links {
    gap: 56px;
    width: 800px;
  }
}

@media all and (max-width: 460px) {
  .sticky-product-header:not(.--is-stuck) {
    opacity: 0;
    height: 0;
    pointer-events: none;
    width: 50vW;
  }

  .sticky-product-header.--with-expanded-menu .content-wrapper {
    padding-bottom: 0;
  }

  .sticky-product-header.--with-expanded-menu .sub-navigation-links {
    gap: 32px;
    margin-top: 12px;
    overflow-x: scroll !important;
    margin: 12px -20px 0 -20px;
    border-top: 1px solid #D6D6D6;
    padding: 15px 20px;
    -webkit-overflow-scrolling: touch;
    width: calc(100% + 40px);
  }
}

@keyframes animateStuckHeader {
  from {transform: translateY(-80px)}
  to {transform: translateY(0px)}
}

@keyframes animateStickyMobileMenu {
  from {max-height: 0px; }
  to {max-height: 100%; }
}



/* Product sections */
.product-section {
  margin: 100px 0 160px 0;
}

.sticky-product-header + .product-section {
  margin-top: 150px;
}

.product-section .section-header {
  color: var(--dark-grey);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .sticky-product-header .content-wrapper {
    gap: 70px;
  }
}

@media screen and (max-width: 465px) {
  .product-section, .sticky-product-header + .product-section {
    margin: 80px 0;
  }

  .product-section .section-header {
    margin-bottom: 12px;
  }
}


/* Story */
.story, .story-image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 80px 60px;
}

.story p:empty {
  display: none;
}

.story-image {
  grid-column: 1 / 13;
  gap: 20px 30px;
}

.story-image .image-container {
  border-radius: 4px;
  overflow: hidden;
}

.story-image .quote {
  margin-top: -56px;
  line-height: 1.1;
}

@media screen and (max-width: 460px) {
  .story {
    gap: 56px 8px;
  }

  .story-image {
    gap: 20px 10px;
  }

  .story-image .quote {
    margin-top: -42px;
  }
}


/* Story -> Fullwidth image & centered half-width image */
.story-image.--full-width .image-container {
  grid-column: 1 / 13;
}

.story-image.--half-width .--center-aligned .image-container {
  grid-column: 4 / 10;
}

.story-image.--full-width.--content-centered .quote {
  grid-column: 4 / 10;
  text-align: center;
}

.story-image.--full-width.--content-left-of-image .quote,  .story-image.--center-aligned.--content-left-of-image .quote {
  grid-column: 2 / 8;
}

.story-image.--full-width.--content-left-of-image .text,  .story-image.--center-aligned.--content-left-of-image .text{
  grid-column: 1 / 6;
}

.story-image.--full-width.--content-right-of-image .quote,  .story-image.--center-aligned.--content-right-of-image .quote{
  grid-column: 5 / 11;
}

.story-image.--full-width.--content-right-of-image .text,  .story-image.--center-aligned.--content-right-of-image .text{
  grid-column: 6 / 11;
}

.story-image.--full-width.--content-centered .text{ /* add short-text support for ltr and rtl */
  grid-column: 3 / 11;
  column-count: 2;
  column-gap: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .story-image.--full-width.--content-centered .quote {
    grid-column: 3 / 11;
  }

  .story-image.--full-width.--content-centered .text {
    grid-column: 2 / 12;
  }
}

@media screen and (max-width: 460px) {
  .story-image.--full-width.--content-centered .quote {
    grid-column: 2 / 12;
  }

  .story-image.--full-width.--content-centered .text {
    column-count: 1;
    grid-column: 2 / 11;
  }
}

/* Story -> Left aligned half image */
.story-image.--left-aligned .image-container {
  grid-column: 2 / 8;
}

.story-image.--left-aligned.--content-left-of-image .quote {
  grid-column: 1 / 7;
}

.story-image.--left-aligned.--content-left-of-image .text {
  grid-column: 1 / 6;
}

.story-image.--left-aligned.--content-right-of-image .quote {
  grid-column: 3 / 9;
}

.story-image.--left-aligned.--content-right-of-image .text {
  grid-column: 4 / 9;
}

@media screen and (max-width: 460px) {
  .story-image.--left-aligned .image-container {
    grid-column: 2 / 10;
  }

  .story-image.--left-aligned.--content-left-of-image .text {
    grid-column: 1 / 8;
  }

  .story-image.--left-aligned.--content-right-of-image .text {
    grid-column: 4 / 11;
  }
}


/* Story -> Right aligned half image */
.story-image.--right-aligned .image-container {
  grid-column: 6 / 12;
}

.story-image.--right-aligned .quote {
  grid-column: 5 /11;
}
.story-image.--right-aligned.--content-left-of-image .text {
  grid-column: 4 / 9;
}
.story-image.--right-aligned.--content-right-of-image .text {
  grid-column: 8 / 13;
}

@media screen and (max-width: 460px) {
  .story-image.--right-aligned .image-container {
    grid-column: 4 / 12;
  }
  
  .story-image.--right-aligned .quote {
    grid-column: 2 / 12;
  }
  
  .story-image.--right-aligned.--content-left-of-image .text {
    grid-column: 1 / 9;
  }

  .story-image.--right-aligned.--content-right-of-image .text {
    grid-column: 5 / 12;
  }
}


/* Story -> Responsive */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .story-image.--right-aligned .quote {
    grid-column: 5 / 12;
  }
}



/* Drop */
.drop-preview {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 100px;
  justify-content: center;
  align-items: center;
  justify-items: start;
  align-content: center;
  background: #f9f9f9;
  padding: 32px;
}

.drop-preview .section-header {
  margin-bottom: 42px;
}

.drop-preview .drop-title {
  /* max-width: 75%; */
  line-height: 1;
}

.drop-preview .drop-description {
  color: var(--dark-grey);
}

.drop-preview .button--small {
  margin-top: 20px;
}

.drop-preview .video-player {
  background: #f0f0f0;
  width: 100%;
  height: 600px;
  z-index: 1;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .drop-preview {
    grid-template-columns: 1fr 1fr;
  }

  .drop-preview .video-player {
    height: 500px;
  }
}

@media screen and (max-width: 460px) {
  .drop-preview {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }

  .drop-content {
    order: 2;
  }

  .drop-content .drop-metadata {
    margin: 12px 0;
  }

  .drop-preview .video-player {
    height: 200px;
  }
}


/* Materials */
.materials .bold-56 {
  margin-left: 46px;
  line-height: 1.25;
}

.materials-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 24px;
  gap: 24px;
}

.materials-columns img {
  border-radius: 4px;
}

.materials p.semi-bold-32 {
  color: #2c2e2f;
  margin: 16px 0 4px 56px;
}

.materials li {
  margin-left: 56px;
  color: var(--dark-grey);
  margin-bottom: 4px;
}

@media screen and (max-width: 465px) {
  .materials p.bold-56 {
    display: none;
    /* margin-left: 0;
    background: var(--product-primary-color);
    border-radius: 4px;
    text-align: center;
    padding: 50px; */
  }

  .materials-columns {
    grid-template-columns: 1fr;
    gap: 32px;
    margin-top: 0;
  }

  .materials-columns p.semi-bold-32 {
    margin-top: 8px;
    margin-left: 0;
  }

  .materials li {
    margin-left: 4px;
  }
}

/* Customisation */

/* 

.--with-customisation-modal {
  overflow: hidden;
  height: 800px;
}

.--with-customisation-modal .sticky-product-header {
  display: none;
}

.--with-customisation-modal section#customise {
  animation: animateCustomisationEntry 0.4s forwards;
} */

/* 
@keyframes animateCustomisationEntry {
  from {transform: translateX(80px); opacity: 0;}
  to {transform: translateY(0px); opacity: 1;}
} */


@media all and (max-width: 460px) {
  section#customise {
    margin-top: 30px;
  }

  .--with-customisation-modal {
    height: 1000px;
  }

  .product-customisation {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-top: 16px;
  }

  .product-customisation .product-imagery-container {
    background: var(--product-secondary-color);
    padding: 20px 0;
  }

  .product-customisation .product-imagery {
    margin: 0 50px;
  }

  .back-button svg {
    height: 16px;
    margin-right: 6px;
  }
}



/* Cart notifications */
.cart-notification {
  color: var(--dark-grey);
  max-width: 350px;
}

.cart-notification p {
  white-space: pre-line;
}

.cart-notification .back-link {
  margin-bottom: 24px;
}

.cart-notification .semi-bold-24 {
  margin-bottom: 24px;
}

.cart-notification .button--checkout {
  margin-top: 24px;
  width: 100%
}

.cart-notification .button--secondary {
  margin: 8px auto;
  width: 100%;
}



/* Product collection */
.products-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.product-card {
  background-color: var(--product-primary-color);
  padding: 16px 16px 12px 16px;
  border-radius: 4px;
  transition: 0.3s;
}

.product-card img {
  /* box-shadow: 0 1px 1px #ffffff1a inset, 0 50px 100px -20px #32325d40, 0 30px 60px -30px #0000004d; */
  object-fit: fill;
  transition: 0.2s ease-in-out;
  outline: 12px solid #000;
  outline-offset: -12px;
}

.product-card .product-title {
  line-height: 1;
  margin:12px 0 2px 0;
}

.product-card .artist-title {
  color: var(--dark-grey);
}

.product-card:hover {
  transform: scale(0.98);
}

.product-card:hover .product-title {
  text-decoration: underline;
}


@media screen and (max-width: 460px) {
  .products-collection {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .product-card .product-title {
    margin-bottom: 4px;
  }

  .product-card .artist-title {
    line-height: 130%;
  }
}




/* All products */
.products-hero p, .products-hero h1 {
  color: var(--dark-grey);
}

.products-grid .products-collection {
  margin: 40px 0;
}

@media all and (max-width: 460px) {
  .page-hero h1 {
    font-size: 3.5rem !important;
    line-height: 1;
  }

  .collection-mobile-filter {
    display: flex;
    gap: 8px;
    align-items: center;
    background: #999;
    justify-content: center;
    margin: 0 auto;
    margin-top: 16px;
  }

  .collection-mobile-filter svg {
    height: 18px;
  }
}

/* Collection filters */
.collection-filters {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
  color: var(--dark-grey);
  margin-top: 4px;
}

.filter {
  position: relative;
}

.filter:nth-child(3) {
  margin-left: auto;
}

.filter-heading {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: 0.3s;
  color: var(--dark-grey);
}

.filter-heading:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.filter-heading svg {
  height: 16px;
  margin-top: 4px;
  transition: 0.3s;
}

.filter.--is-expanded .filter-heading {
  color: var(--dark-grey);
}

.filter.--is-expanded .filter-heading svg {
  transform: rotate(180deg);
  margin: 0;
}

.filter-dropdown {
  position: absolute;
  background: #f0f0f0;
  padding: 16px;
  top: 32px;
  width: 200px;
  box-shadow: 0 1px 1px #ffffff1a inset, 0 50px 100px -20px #32325d40, 0 30px 60px -30px #0000004d;
  z-index: 10;
}

.filter:not(.--is-expanded) .filter-dropdown {
  display: none;
}

.filter-dropdown > div {
  display: flex;
  gap: 8px;
  padding-bottom: 16px;
  cursor: pointer;
  align-items: center;
}

.filter-dropdown > div:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.filter-dropdown > div.--is-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.filter-dropdown > div.--is-selected {
  color: var(--black);
}

.filter-dropdown .checkbox-container {
  display: flex;
  position: relative;
  -moz-appearance: none;
  border: 1px solid #c8c8c8;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
}

.filter-dropdown .checkbox-container svg {
  height: 14px;
}

@media all and (max-width: 450px) {
  .collection-filters-background {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    background: #0000007a;
    backdrop-filter: blur(4px);
    transition: 0.3s;
  }

  .collection-filters {
    position: fixed;
    bottom: 5vW;
    background: #fff;
    width: 80vW;
    flex-direction: column;
    margin-left: 5vW;
    gap: 16px;
    padding: 24px;
    border-radius: 4px;
    position: absolute;
    padding: 16px;
    box-shadow: 0 1px 1px #ffffff1a inset, 0 50px 100px -20px #32325d40, 0 30px 60px -30px #0000004d;
    z-index: 10;
    transition: max-height 0.3s;
    overflow: hidden;
    flex-direction: column;
    align-items: baseline;
    gap: 16px;
  }

  .filter:nth-child(3) {
    margin-left: unset;
  }

  .collection-filters .button--large {
    width: 100%;
  }

  .collection-filters-background:not(.--is-visible) {
    opacity: 0;
    pointer-events: none;
  }

  .collection-filters:not(.--is-visible) {
    max-height: 0;
    padding: 0 16px;
  }

  .filter-dropdown {
    position: relative;
    margin: 12px 8px 10px;
    width: unset;
    background: unset;
    box-shadow: unset;
    padding: unset;
    top: unset;
  }

  .filter-dropdown > div:last-child {
    padding-bottom: 0;
  }
}




/* Drops */
.page-hero {
  text-align: center;
  margin: 100px 0;
}

.page-hero .page-background {
  background: #383838;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.drops-hero p, .drops-hero h1 {
  color: var(--light-grey);
}

.drops-collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 40px 0;
}

.drop-card {
  background: #414141;
  padding: 32px 24px 5px;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.4s;
}

.drop-card:hover {
  transform: scale(0.98);
}

.drop-card:hover p.bold-24 {
  text-decoration: underline;
}

.drop-card .image-container {
  height: 225px;
  margin-bottom: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: #D9D9D9;
  margin: -32px -24px 16px;
}

.drop-card p.bold-24 {
  color: var(--white);
}

.drop-card p.semi-bold-16 {
  color: #bfbfbf;
}

.drop-card .drop-metadata {
  color: #bfbfbf;
  margin: 20px 0;
}


@media all and (max-width: 460px) {
  .page-hero {
    margin-bottom: 15px;
    margin-top: 40px;
  }

  .page-hero p.semi-bold-24 {
    font-size: 1.3rem !important;
  }

  .drops-collection {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}


/* Drop page */
.drop-hero {
  margin-top: 60px;
  position: relative;
}

.drop-hero .page-background {
  width: 100vW;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: #121212;
  height: calc(100% + 190px);
  transform: translateY(-190px);

  width: 100vW;
}

@media all and (min-width: 1600px) {
  .drop-hero .page-background {
    margin-left: calc(((100vW - 1600px + 10vW) / 2)* -1);
  }
}

@media all and (max-width: 1600px) {
  .drop-hero .page-background {
    margin-left: calc((100vW - 100% - 5vW)* -1);
  }
}

.drop-hero .drop-content {
  color: var(--light-grey);
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 50px;
  margin-top: 36px;
  padding-bottom: 36px;
}

.drop-hero .drop-title {
  line-height: 1;
}

.drop-hero .video-empty-state {
  aspect-ratio: 2;
  background: #000;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.drop-hero .video-empty-state p {
  color: var(--light-grey);
}

.drop-metadata {
  display: flex;
  gap: 24px;
  color: #868686;
  margin: 16px 0;
}

.metadata-with-icon {
  display: flex;
  align-items: center;
  gap: 6px;
}

.metadata-with-icon svg {
  height: 16px;
}

@media all and (max-width: 460px) {
  .drop-hero {
    margin-top: -70px;
    background: #383838;
    margin-left: -5vW;
    margin-right: -5vW;
    padding: 90px 5vW 20px;
  }

  .drop-hero .video-player, .drop-hero .video-empty-state {
    aspect-ratio: 1;
  }

  .drop-hero .drop-content {
    grid-template-columns: 1fr;
    gap: 4px;
    margin-top: 8px;
  }

  .drop-prints {
    margin-top: 40px;
  }
  
}


/* Video player*/
.video-player {
  --media-object-fit: cover;
  --media-object-position: center;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.10) inset, 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.30);
}


.next-drop {
  margin-left: auto;
  align-items: flex-end;
}

.previous-drop {
  margin-right: auto;
  align-items: flex-start;
}

.next-drop, .previous-drop {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.next-drop p.semi-bold-24, .previous-drop p.semi-bold-24 {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--dark-grey);
}

.next-drop svg, .previous-drop svg {
  height: 24px;
  margin-top: 2px;
  transition: 0.3s;
}

.next-drop:hover, .previous-drop:hover {
  opacity: 0.8;
}

.next-drop:hover p.bold-24, .previous-drop:hover p.bold-24 {
  text-decoration: underline;
}

@media all and (max-width: 460px) {
  .next-drop svg, .previous-drop svg {
    height: 20px;
  }
}


/* Footer */
footer {
  background: #fff;
  border-top: 1px solid #f0f0f0;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.footer-logo p.semi-bold-16 {
  max-width: 300px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-menu p {
  color: #868686;
}

.footer-menu a {
  cursor: pointer;
}

footer .footer-bar {
  border-top: 1px solid #f0f0f0;
  padding-top: 16px;
  margin: 62px 0 16px 0;
  display: flex;
  color: var(--dark-grey);
  justify-content: space-between;
  grid-column: 1 / 4;
}

footer .footer-bar .social-links {
  display: flex;
  gap: 20px;
}

.social-links svg {
  height: 16px;
}

@media all and (max-width: 465px) {
  footer {
    grid-template-columns: 1fr 1fr;
    gap: 32px 0;
    margin-top: 32px;
    padding-top: 32px;
  }

  footer .footer-logo {
    grid-column: 1 /3;
  }

  footer .footer-logo p {
    max-width: 70%;
  }

  footer .footer-menu {
    grid-row: 2;
  }

  footer .footer-bar {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
    flex-direction: column-reverse;
    gap: 32px;
  }
}


/* Cart */
.--cart-is-open {
  filter: blur(100px);
  transition: 0.3s;
}

.--cart-is-open > * {
  pointer-events: none;
}

.cart-drawer {
  background: #fff;
  position: absolute;
  z-index: 10;
  padding: 30px;
  border-radius: 4px;
  margin-top: 55px;
  display: none;
  width: 350px;
  transform: translateX(32px);
  box-shadow: 0 1px 1px #ffffff1a inset, 0 50px 100px -20px #32325d40, 0 30px 60px -30px #0000002b;
}

.cart-drawer::before {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 24px 24px 24px;
  border-color: transparent transparent #fff transparent;
  transform: rotate(0deg);
  content: '';
  position: absolute;
  top: -12px;
  right: 16px;
}

@media screen and (max-width: 460px) {
  .cart-drawer {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    bottom: 20px;
    top: 20px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  .cart-drawer .cart-product-list {
    margin-bottom: auto;
  }

  .cart-drawer.--is-open {
    display: flex !important;
  }
}


.cart-drawer.--is-open {
  display: block;
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 12px;
}

.cart-empty-state {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart-empty-state .semi-bold-14 {
  color: var(--dark-grey);
  background: #f0f0f0;
  padding: 12px;
  border-radius: 4px;
}

.cart-product-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart-product-preview {
  padding: 12px;
  cursor: default;
}

.cart-product-preview:hover {
  transform: unset;
}

.cart-product-preview > a, .shipping-product-preview {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.cart-product-preview .card-metadata {
  margin-right: auto;
}

.cart-product-preview .image-container {
  width: 50px;
}

.cart-product-preview .image-container img {
  outline-offset: -4px;
  outline-width: 4px;
}

.cart-product-preview .product-title {
  margin-top: 6px;
}

.cart-product-preview .product-price {
  margin-top: 4px;
}

.cart-product-preview .cart-row-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.cart-product-preview .cart-row-column svg {
  height: 14px;
}

.cart-row .product-actions {
  display: none;
}

.cart-row:hover .product-actions, .cart-row.--is-deleted .product-actions {
  display: block;
}

.cart-row .product-actions form {
  display: inline;
}

.cart-row .product-actions a {
  margin-right: 12px;
  cursor: pointer;
}

.cart-row .product-actions a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.shipping-product-preview {
  background: #f7f7f7;
  pointer-events: none;
}

.shipping-product-preview .product-title {
  margin-top: 1px;
}

.cart-row.--is-deleted {
  opacity: 0.2;
  transition: 0.3s;
}

.cart-footer {
  margin-top: 100px;
}

.cart-totals {
  display: grid;
  grid-template-columns: 100px auto;
  justify-content: space-between;
}

.cart-actions {
  margin-top: 10px;
}

.cart-actions .button--large {
  width: 100%;
}